body {
    background-image: url("images/big.jpg");
    font-family: Arial, sans-serif;
    background-size: cover;
}

nav {
    background-color: #136F63;
    padding: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

li {
    margin: 0 10px;
}

li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #0D503D;
}

form {
    margin: 2em;
    padding: 1em;
    background-color: #fff;
    border: 2px solid #2ECC71;
    border-radius: 10px;
}

label {
    display: block;
    margin: 0.5em 0;
}

input[type="text"],
input[type="email"],
select {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 2px solid #2ECC71;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.7em center;
    background-size: 12px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #2ECC71;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #27AE60;
}