body {
    background-image: url("images/big.jpg");
    font-family: Arial, sans-serif;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative
}