{% extends 'base.html' %} {% block title %}About us{% endblock %} {% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/service4.css' %}">
</head>
<nav>
    <ul>
        <li><a>About Us Page</a></li>
        <li><a>حول صفحة </a></li>
        <li><a>À propos de nous</a></li>


    </ul>
</nav>
<div class="about-section">


    <div class="item throwing-animation">
        <p>Some text about who we are and what we do.</p>
    </div>

    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">


            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">

            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">

            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}